<div class="container">
<h1>ユーザー一覧</h1>
<% @users.each do |user| %> 
<table>
  <tr>
    <th><%= user.id %></th>
    <th>
      <%= link_to admin_user_path(user.id) do %>
      <%= user.company_name %>
      <% end %>
    </th>
  </tr>
</table>
<% end %>
<%= paginate (@users) %>
</div>